<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">미미</title>
    <th:block th:replace="~{common/config :: config}" />
</head>

<body style="padding:0px 10px;">
<!-- header -->
<div style="border:1px solid black;">
    <header th:replace="~{common/header::header}"></header>
</div>

<!-- content -->
<div style="border:1px solid red; padding:15px;">
    <th:block layout:fragment="content"></th:block>
</div>

<!-- footer -->
<div style="border:1px solid green;">
    <footer th:replace="~{common/footer::footer}"></footer>
</div>
</body>
</html>