<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">


<head>
    <title layout:fragment="title">list 페이지</title>
</head>
<th:block layout:fragment="content">
<script type="text/javascript" th:inline="javascript">
    function fnUpdate(e){
        var postId = $(e).data("post-id");
        var postType = $(e).data("post-type");
        //var url = "/post/"+postId+"/update";
        var url = "/post/"+[[${postDTO?.postId}]]+"/update"; // js에서 타임리프 값 사용.
        var param = "postType=" + postType;
        location.href = url + "?" + param
    }

    function fnPostReq(mappingType) {
        var url = "/post/"+[[${postDTO?.postId}]];
        $.ajax({
            url: url,
            type: mappingType,
            data: {
                    "postType" : [[${postDTO?.postType}]]
            },
            success: function (data) {
                var postType = data.postType;
                location.replace(url + "?postType=" + postType);
            },
            error: function () {
                alert("요청 처리 중 오류가 발생하였습니다! \n관리자에게 문의하세요!");
            }
        });
    }
</script>
    <style>
        table.table.table-hover tr:hover{cursor: pointer;}
    </style>
<body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{board.title}">제목</th>
            <th scope="col" th:text="#{board.postType}">포스팅 타입</th>
            <th scope="col" th:text="#{board.regDate}">등록일</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="board : ${boardList}">
            <tr th:onclick="|location.href='@{/post/{postId}(postId=${board.postId},postType=${board.postType})}'|">

            <td th:text="${board.postId}">아이디</td>
            <td th:text="${board.title}">타이틀</td>
            <td th:text="${board.postType}">타입</td>
            <td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
        </tr>
        </th:block>

        </tbody>
    </table>
</body>

</th:block>
</html>