<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">


<head>
    <title layout:fragment="title">detail 상세페이지</title>
</head>
<th:block layout:fragment="content">
<script type="text/javascript" th:inline="javascript">
    function fnUpdate(e){
        var postId = $(e).data("post-id");
        var postType = $(e).data("post-type");
        //var url = "/post/"+postId+"/update";
        var url = "/post/"+[[${postDTO?.postId}]]+"/update"; // js에서 타임리프 값 사용.
        var param = "postType=" + postType;
        location.href = url + "?" + param
    }

    function fnPostReq(mappingType) {
        var url = "/post/"+[[${postDTO?.postId}]];
        $.ajax({
            url: url,
            type: mappingType,
            data: {
                    "postType" : [[${postDTO?.postType}]]
            },
            success: function (data) {
                var postType = data.postType;
                location.replace(url + "?postType=" + postType);
            },
            error: function () {
                alert("요청 처리 중 오류가 발생하였습니다! \n관리자에게 문의하세요!");
            }
        });
    }
</script>
<body>
    <div>
        <h3 th:text="${postDTO.postId}"></h3>
        <h3 th:text="${postDTO.title}"></h3>
        <h3 th:if="${postDTO.postType == 'text' && postDTO.body != null}" th:text="${postDTO.body}"></h3>
        <h3 th:text="${postDTO.postType}"></h3>
        <h3 th:text="${postDTO.status}"></h3>

        <th:block th:if="${postDTO.postType == 'photo' && postDTO.fileInfos != null}">
            <th:block th:each="file : ${postDTO.fileInfos}">
                <img th:src="@{|/file-store-path/${file.saveFolder}/${file.saveFile}|}" th:srclang="${file.originFileName}" />
            </th:block>
        </th:block>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:attr="data-post-id=${postDTO.postId}, data-post-type=${postDTO.postType}"
                        th:onclick="|fnUpdate(this);|"
                        type="button">수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-danger btn-lg"
                        th:onclick="|fnPostReq('delete');|"
                        type="button">삭제</button>
            </div>
        </div>
    </div>
</body>

</th:block>
</html>