
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/open/jquery-3.6.0.min.js}"></script>
    <title>Title</title>
</head>
<script type="text/javascript" th:inline="javascript">
    function changeLanguage(){
        $.ajax({
            url : "/changeLanguage",
            type : "post",
            data : {
                lang : $("select[name=lang]").val()
            },
            success: function(data) {
                console.log("언어 변환");
                location.reload(true);
            },
            error: function() {
                alert("요청 처리 중 오류가 발생하였습니다! \n관리자에게 문의하세요!");
            }
        });
    }

</script>
<body>
    template - chkMessage


    <label>
        <select name="lang" onchange="changeLanguage();">
            <option value="ko" th:selected="${changeLang.lang} == 'ko'">한국어</option>
            <option value="en" th:selected="${changeLang.lang} == 'en'">English</option>
        </select>
    </label>

    <div>
        <h1 th:text="#{hello}"></h1>
        <h1 th:text="#{hello.title}"></h1>
    </div>
</body>
</html>